body{
    margin: 0;
}

.container{
    min-width: 1150px;
}


.first{
    margin-left: 190px;
    margin-top: 40px;
    margin-left: 190px;
}

.second{
    margin-left: 190px;
    clear: both;
}

.third{
    margin-left: 190px;
    clear: both;
}

.fourth{
    margin-left: 190px;
    clear: both;
}

.fifth{
    margin-left: 190px;
    clear: both;
}



.first *{
    height: 220px;
    width: 220px;
    float: left;
    text-align: center;
    line-height: 220px;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 900;
    background-color:grey;
    margin-bottom: 20px;
    margin-right: 20px;
}

.second *{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    float: left;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 900;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color:grey;
    clear: right;
    text-align: center;
}

#large{
    height: 220px;
    width: 700px;
    float: left;
    text-align: center;
    line-height: 220px;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 900;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color:grey;
    clear: right;
    text-align: center;
}

#small{
    height: 220px;
    width: 220px;
    float: left;
    text-align: center;
    line-height: 220px;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 900;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color:grey;
    clear: right;
    text-align: center;
}

#second-small{
    height: 220px;
    width: 220px;
    float: left;
    text-align: center;
    line-height: 220px;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 900;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color:grey;
    clear: right;
    text-align: center;
}

#second-large{
    height: 220px;
    width: 700px;
    float: left;
    text-align: center;
    line-height: 220px;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 900;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color:grey;
    clear: right;
    text-align: center;
}

.fifth *{
    height: 220px;
    width: 460px;
    float: left;
    text-align: center;
    line-height: 220px;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 900;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color:grey;
    clear: right;
    text-align: center;
}
