main{
    font-family: 'Lato', sans-serif;
    opacity: 0.6;
    right: 20px;
    margin-left: 200px;
}

#full_name{
    opacity: 0.8;
    width: 650px;
    height: 35px;
}

#email{
    opacity: 0.8;
    width: 650px;
    height: 35px;
}

hr{
    margin-bottom: 25px;
    margin-right: 700px;
    width: 670px;
}

#hr2{
    padding: 100px;

}

small{
    font-size: 12px;
    padding-left: 4px;
    color: grey;
    font-weight: bolder;
}

form{
    margin-left: 5px;
}

.txt_padd{
    padding-bottom: 19px;

}

.button {
    width: 80px;
    line-height: 32px;
    padding: 2;
    border: 0;
    font-weight: bolder;
    border-radius: 4px;
    transition: all 0.4s linear;
 }

 #cancel:hover {
   background: transparent;
   color: #000;
   background-color:rgba(194, 34, 34, 0.719);
 }

 #cancel{
    background: rgb(255, 255, 255);
}

 #submit {
     background: rgb(38, 18, 153);
     color: aliceblue;
 }